<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome!</h2>

    Using get request method 
    <br><br>
    <form action="{% url 'guest' %}" method="get">
        <label for="name">Enter Your Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="location">Enter Your Location:</label>
        <input type="text" id="location" name="location" required>
        <br><br>
        <button type="submit">Go to Guest Page</button>
    </form>


    <br><br>
    <br><br>
    
    <form>
        Using query params
        <br><br>
        <label for="name">Enter Your Name:</label>
        <input type="text" id="q_name" name="name" required>
        <br><br>
        <label for="location">Enter Your Location:</label>
        <input type="text" id="q_location" name="location" required>
        <br><br>
        <button type="button" onclick="redirectToGuest()">Go to Guest Page</button>
    </form>

    <p>Already an user? <a href="/login">Login here </a></p>
    <p>Don't have an account? <a href="/register">New User</a></p>


    <script>
        function redirectToGuest() {
            let name = document.getElementById("q_name").value;
            let location = document.getElementById("q_location").value;
            
            // Redirect with parameters in the URL
            window.location.href = `/params/${encodeURIComponent(name)}/${encodeURIComponent(location)}`;
        }
    </script>

</body>
</html>